@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e40af;
  --color-secondary: #facc15;
  --color-accent: #22c55e;
  --color-accent-dark: #15803d;
  --color-error: #dc2626;
  --color-warning: #f59e0b;
  --color-muted: #6b7280;
  --color-heart: #eb1e7d;

  --bg-primary: #ffffff;
  --bg-secondary: #f1f5f9;
  --bg-muted: #e5e7eb;

  --text-primary: #111827;
  --text-secondary: #374151;

  --border-default: #e5e7eb;
  --border-accent: var(--color-primary);
}

.dark {
  --color-primary: #3b82f6;
  --color-secondary: #facc15;
  --color-accent: #22c55e;
  --color-error: #ef4444;
  --color-warning: #fbbf24;
  --color-muted: #94a3b8;

  --bg-primary: #0f172a;
  --bg-secondary: #1e293b;
  --bg-muted: #334155;

  --text-primary: #e0e7ff;
  --text-secondary: #cbd5e1;

  --border-default: #475569;
  --border-accent: var(--color-primary);
}

html {
  font-family: 'Open Sans', sans-serif;
}

.table-head-item,
.table-body-item {
  vertical-align: middle;
  border-bottom: 1px solid var(--border-default);
}

.btn-base {
  @apply rounded-md p-2 text-sm font-medium transition-all duration-150 border;
}

.form-layout,
.btn-variant-default,
.btn-variant-success {
  border: 1px solid var(--border-default);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-color: var(--border-default);
  box-shadow: -1.5px 1.5px 0 1.5px var(--color-muted);
}

.btn-variant-success:hover {
  border-color: var(--color-accent);
  box-shadow: -1.5px 1.5px 0 1.5px var(--color-accent-dark);
}

.btn-variant-success:active,
.btn-variant-success-active {
  background-color: var(--color-accent);
  box-shadow: -1px 1px 0 1px var(--color-accent-dark);
}
